h3{
	text-align: center;
	color: #A19E9E;
	float: left;
}

p{
	text-align: center;
}

.icon-paperplane{
	color: #A19E9E;
	font-size: 100px;
	float: left;
}

.icon-diamond{
	color: #A19E9E;
	font-size: 100px;
	float: left;
}
.icon-heart{
	color: #CCC6C6;
	font-size: 100px;
	float: left;
}
.icon-cup{
	color: #A19E9E;
	font-size: 100px;
	float: left;
}

.icon-food{
	color: #A19E9E;
	font-size: 100px;
	float: left;
}